name: Update global_menu.json

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-menu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run save_global_menu.py
        run: |
          python save_global_menu.py

      - name: Upload global_menu.json as artifact
        uses: actions/upload-artifact@v4
        with:
          name: global_menu
          path: global_menu.json
